services:
  grafana:
    image: grafana/grafana:11.5.2
    ports:
      - 3000:3000/tcp
    environment:
      GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_BASIC_ENABLED: "false"
      GF_DEFAULT_APP_MODE: development
    volumes:
      - ./plugins/victoriametrics-metrics-datasource:/var/lib/grafana/plugins/victoriametrics-metrics-datasource
      - ./provisioning:/etc/grafana/provisioning
