<div class="gf-form-group">
    <div class="gf-form">
        <span class="gf-form-label width-14">Search expression</span>
        <input type="text" class="gf-form-input" ng-model='ctrl.annotation.expr'/>
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-14">
         Step
         <tip>
            An additional lower limit for the step parameter of the Prometheus query and for the
            <code>$__interval</code> and <code>$__rate_interval</code> variables.
         </tip>
      </span>
        <input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.step'
               placeholder="{{::ctrl.stepDefaultValuePlaceholder}}"/>
    </div>
    <div class="gf-form-group">
        <div class="gf-form">
         <span class="gf-form-label width-14">
            Title
            <tip>
               Use either the name or a pattern.
            </tip>
         </span>
            <input label="Title" type="text" class="gf-form-input max-width-14"
                   ng-model='ctrl.annotation.titleFormat' placeholder="alertname"/>
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-14">Tags</span>
            <input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.tagKeys'
                   placeholder="label1,label2"></input>
        </div>
        <div class="gf-form">
         <span class="gf-form-label width-14">
            Text
            <tip>
               Use either the name or a pattern.
            </tip>
         </span>
            <input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.textFormat'
                   placeholder="instance"/>
        </div>
        <gf-form-switch class="gf-form" label="Series value as timestamp" label-class="width-14"
                        checked="ctrl.annotation.useValueForTime"
                        tooltip="The unit of timestamp is milliseconds.
         If the unit of the series value is seconds, multiply its range vector by 1000.">
        </gf-form-switch>
    </div>
</div>
